*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family:'Times New Roman', Times, serif;

    background-image: url("images/rain_background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

header {
    width: 75vw;
    margin: 0 auto;
    padding: 40px;
    position: relative;
    top: 40px;
    left: 50px;
    z-index: 1;
    background-color: darkblue;
}

h1 {
    font-size: 54px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.quote {
    padding: 0 200px;
    font-size: 22px;
    color: white;
    text-align: center;
}

main {
    height: 750px;
    width: 80vw;
    margin: 0 auto;
    position: relative;
    top: 100px;
    right: 20px;
    background-color: black;
}

.sorting {
    width: 100%;
    padding: 15px 50px;
    background-color: grey;

    display: flex;
    justify-content: space-evenly;
}

.sort-wrapper {
    width: 50%;
    padding: 0 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sort-label {
    font-size: 22px;
}

.sort-button {
    font-size: 18px;
    padding: 5px;
    border: 3px solid black;
    background-color: white;
}

.sort-button:hover {
    background-color: lightslategrey;
}