*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family:'Times New Roman', Times, serif;
    overflow: hidden;

    background-image: url("images/rain_background.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

header {
    width: 60vw;
    margin: 50px 100px 20px auto;
    padding: 30px;
    background-color: rgba(0, 0, 133, 0.8);
}

h1 {
    font-size: 54px;
    color: white;
    text-align: right;
    margin-bottom: 10px;
}

.quote {
    padding: 0 40px;
    font-size: 22px;
    color: white;
    text-align: right;
}

main {
    width: 75vw;
    margin-left: 200px;
    background-color: black;
    border: 7px solid grey;
}

.sorting {
    width: 100%;
    padding: 15px 50px;
    background-color: grey;

    display: flex;
    justify-content: space-evenly;
}

.sort-wrapper {
    width: 50%;
    padding: 0 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sort-label {
    font-size: 22px;
}

.sort-button {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px;
    border: 3px solid black;
    background-color: white;
}

.sort-button:hover {
    background-color: lightslategrey;
}

/* Cards */
.display {
    padding: 30px 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    max-height: 730px; 
    overflow-y: auto;
}

.card {
    height: 320px;
    border: 7px solid rgb(0, 0, 163);
    background-color: white;
    padding: 8px 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.book-title {
    color: black;
    font-size: 30px;
}

.book-image {
    height: 180px;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.button-wrapper button {
    font-size: 18px;
    font-weight: bold;
    border: 3px solid black;
    background-color: white;
    padding: 5px 10px;
}

.button-wrapper .remove-button {
    max-height: 40px;
    border: none;
}

#add-book {
    border: 7px solid white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#add-book:hover,
#add-book:active {
    background-color: grey
}

.add-text {
    color: white;
    font-size: 32px;
    font-weight: bold;
}